* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 20px;

  padding: 30px 20px;
}

.logo {
  width: 900px;
  height: 90px;

  object-fit: contain;

  margin-bottom: 0.5px;

  filter:
    drop-shadow(0 0 10px rgba(59, 130, 246, 0.6))
    drop-shadow(0 0 20px rgba(59, 130, 246, 0.3));

  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.container {
  width: 500px;
  max-width: 90%;

  padding: 35px;

  background: rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.12);

  border-radius: 28px;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.35);

  text-align: center;
}

.container h1 {
  color: white;

  font-size: 42px;

  margin-bottom: 25px;

  font-weight: 700;
}

input,
select {
  width: 100%;

  padding: 15px;

  margin-bottom: 15px;

  border: none;

  border-radius: 14px;

  background: rgba(255, 255, 255, 0.12);

  color: white;

  font-size: 16px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.55);
}

input:focus,
select:focus {
  outline: none;

  background: rgba(255, 255, 255, 0.18);

  box-shadow:
    0 0 0 2px #3b82f6,
    0 0 10px rgba(59, 130, 246, 0.25);
}

/* Estilo das opções do select */
select option {
  background-color: #1e293b; /* fundo escuro */
  color: white;              /* texto branco */
  padding: 10px;
}

/* Hover nas opções */
select option:hover {
  background-color: #3b82f6; /* azul ao passar o mouse */
  color: #fff;
}

button {
  width: 100%;

  padding: 15px;

  margin-top: 10px;

  border: none;

  border-radius: 14px;

  background: #3b82f6;

  color: white;

  font-size: 17px;

  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  background: #2563eb;
}

.cadastro {
  background: transparent;

  border: 2px solid #3b82f6;
}

.cadastro:hover {
  background: rgba(59, 130, 246, 0.08);
}

.erro {
  background: rgba(220, 38, 38, 0.15);

  color: #fca5a5;

  padding: 12px;

  margin-bottom: 15px;

  border-radius: 12px;

  border: 1px solid rgba(220, 38, 38, 0.35);
}

.sucesso {
  background: rgba(22, 163, 74, 0.15);

  color: #86efac;

  padding: 12px;

  margin-bottom: 15px;

  border-radius: 12px;

  border: 1px solid rgba(22, 163, 74, 0.35);
}

@media (max-width: 768px) {
  .container {
    width: 92%;
    padding: 25px;
  }

  .container h1 {
    font-size: 34px;
  }

  .logo {
    width: 90px;
    height: 90px;
  }
}

.btn-acao {
  width: 100%;
  padding: 12px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.btn-sair {
  width: 100%;
  padding: 10px;
  background: transparent;
  color: #94a3b8;
  border: 1px solid #475569;
  border-radius: 8px;
  cursor: pointer;
}

.btn-sair:hover {
  background-color: #1e293b;
}