* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(
    135deg,
    #08142f 0%,
    #10224d 50%,
    #08142f 100%
  );
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}